<!-- Page Header -->
<header class="masthead" style="background-image: url('img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Full-Stack Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        I am a full-stack software engineer with experience with AngularJS, Node, Express, PostgreSQL and MongoDB. I am also currently
        building projects using React/Redux and dabbling with C#. I thrive on learning new things so 
        this field's ever changing landscape pefectly suits my temperament.
      </p>
      <p>
        You can check out my work here:
        <ul>
          <li>
            <a href="http://www.github.com/bozeman42">Github: Bozeman42</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>

<hr>