<!-- Page Header -->
<header class="masthead" ng-style="{'background-image':'url({{pc.selectedPost.headerImage}})'}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{pc.selectedPost.heading}}</h1>
          <h2 class="subheading">{{pc.selectedPost.subheading}}</h2>
          <span class="meta">Posted by
            <a href="#">{{pc.selectedPost.author}}</a>
            on {{pc.selectedPost.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div ng-include="pc.selectedPost.template" class="col-lg-8 col-md-10 mx-auto">
        
      </div>
    </div>
  </div>
</article>

<hr>