<p>
  Over the last weekend I participated in the
  <a href="https://globalgamejam.org/">2018 Global Game Jam</a> with
  <a href="https://www.gamecraft.mn/">GameCraftMN</a>. After the pitches were made, I decided to approach a team working with a technologiy that excites me:
  VR. It was a team of 11 people, mostly composed of 3D artists. They were in need of developers and they welcomed me to
  the team.
</p>
<p>
  The concept of the game was that there are some space druids and they live in symbiosis with a large
  <a href="https://en.wikipedia.org/wiki/Ent">ent-like</a> creature. The space druids are played by up to four players using game controllers and the Ent is the VR player
  using a Vive VR headset and controllers. The druids collect resources and bring them back to the Ent, which is rooted in
  place. The Ent assists the druids in collecting the resources by moving logs over rivers to form bridges and picking up
  and throwing the players when they enter a large walnut-like vessel. The druids have a day (5 minutes of game time) to
  collect enough resources for the Ent to be able to protect them in the night.
</p>
<p>
  The project was being built with the Unity game engine and was written in C#. I had no experience with either of those things, but I was eager to learn.
  I was able to piece together some basics of how the controls worked and I was able to create controls for the four 'couch
  co-op' players.
</p>
<p>At the end of the first night I asked the more experienced developers what I should research to be able to better contribute
  the next day. They suggested looking at Unity MonoBehaviors and creating a basic Unity project with a cube that you can
  move around using controls.
</p>